/* CSS files add styling rules to your content */

body{
font-family: courier, sans-serif;
font-size:15px;
color: #black;
line-height:1;
background-color: #F4EED4;
}

h1 {
  font-style: italic;
  color: #D1240D;
}

.bullets {
color: #D1240D;   
}

img{max-width:100%;}

/* unvisited link */
a:link {
  color: #D1240D;
}

/* visited link */
a:visited {
  color: #D1240D;
}
  
#maincontent{
    max-width: 42em;
    margin: 15 auto;
}
    
}
